@font-face {
    font-family: Avengers;
    src: url('../fonts/avenge.ttf') format('truetype');
}

body {
    background-color: #044D29;
}

.header {
    border: solid 4px black;
    border-radius: 75px;
    background-color: #1F8A70;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: fit-content;
}

.header h1 {
    color: gray;
    text-align: center;
    font-family: Avengers;
    font-size: 73px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#navbar {
    position: sticky;
    float: left;
    top: 0px;
    overflow: hidden;
    width: 21%;
    background-color: #B5E655;
    border: solid 3px black;
}

#navbar li {
    display: block;
    float: left;
    margin-top: 70px;
    margin-right: 100px;
    text-align: center;
    color: black;
    font-family: Avengers;
    padding: 14px;
    text-decoration: none;
    border: solid 3px black;
}

#countdownHolder {
    text-align: center;
    font-family: Avengers;
    color: gray;
    font-size: 65px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: #1F8A70;
    width: 1250px;
    border: solid 4px black;
    border-radius: 100px;
    margin-right: auto;
    margin-left: 450px;
}

#countdownHolder #countdown {
    text-decoration: underline overline black;
    text-underline-offset: 15px;
    font-family: 'Times New Roman';
    font-size: 55px;
    margin-bottom: 75px;
}

.about {
    text-align: center;
    float: right;
    border: solid 5px black;
}



#whatHead {
    text-align: center;
    border: solid 2px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 250px;
    border-top: none;
    font-family: Avengers;
    font-size: 45px;
    color: gray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.what {
    text-align: center;
    font-family: Avengers;
    font-size: 35px;
    color: gray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: solid 3px black;
    border-radius: 45px;
}

.what > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1F8A70;
    border: solid 2px black;
    border-radius: 500px;
    width: 250px;
    height: auto;
}

#whyIHead {
    text-align: center;
    border: solid 2px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 250px;
    border-top: none;
    font-family: Avengers;
    font-size: 35px;
    color: gray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.wrap {
    display: block;
    float: left;
    width: 200px;
    height: auto;
    margin: -14px 0px 15px 100px;
    border: solid 3px black;
}

.whyI {
    text-align: justify;
    font-family: Avengers;
    font-size: 30px;
    color: gray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 75px;
    border: solid 3px black;
    border-radius: 45px;
}

#whyUHead {
    text-align: center;
    border: solid 2px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 250px;
    border-top: none;
    font-family: Avengers;
    font-size: 35px;
    color: gray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.whyU {
    text-align: center;
    font-family: Avengers;
    font-size: 30px;
    color: gray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: solid 3px black;
    border-radius: 45px;
}

.russoimg {
    width: 300px;
    height: auto;
    border: solid 3px black;
}

.footer {
    clear: both;
    position: relative;
    margin-top: -200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: overline underline 2px black;
    background-color: #B5E655;
    border: dashed 3px black;
}